openai
confluent-kafka==2.2.0
python-dotenv==1.0.0
fastavro==1.8.2
apache-airflow-providers-apache-kafka==1.1.2
apache-airflow-providers-telegram==4.1.1
apache-airflow-providers-mongo==3.2.1
pymongo==4.4.1
